* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.registration-form {
	width: 360px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 32px;
	box-shadow: 0 0 10px 10px #eee;

	.input-group:last-of-type {
		margin-bottom: 16px;
	}

	label {
		font-size: 14px;
	}

	input {
		position: relative;
		font-size: 16px;
		padding: 8px;
		border: none;
		height: 40px;
		width: 100%;
		border-radius: 5px;
		border: 2px solid rgba(100, 100, 100, 0.1);
	}

	.error-input {
		box-shadow: 0 0 5px 1px red;
	}

	.error-message {
		font-size: 12px;
		min-height: 16px;
		color: red;
	}

	button {
		border: none;
		padding: 15px 25px;
		border-radius: 5px;
		font-size: 22px;
		color: #fff;
		background-color: #2ecc71;
	}
}
